
<h1>Test</h1>



<h3>webSocket</h3>
<nl>

</nl>

<br>
<br>
<br>


<h3>accounts</h3>
<nl>
{{{accounts}}}
</nl>

<br>
<br>
<br>

<h3>balances</h3>
<nl>
{{{balances}}}
</nl>

<br>
<br>
<br>

<h3>balanceHistory</h3>
<nl>
{{{balanceHistory}}}
</nl>

<br>
<br>
<br>

<h3>order</h3>
<nl>
{{{order}}}
</nl>

<br>
<br>
<br>

<h3>alert</h3>
<nl>
{{{alert}}}
</nl>

<br>
<br>
<br>

<h3>UserWatchList</h3>
<nl>
{{{UserWatchList}}}
</nl>

<br>
<br>
<br>

<h3>NewsFeed</h3>
<nl>
{{{NewsFeed}}}
</nl>

<br>
<br>
<br>

<h3>UpdateUser</h3>
<nl>
{{{UpdateUser}}}
</nl>

<br>
<br>
<br>

<h3>SavePrefs</h3>
<nl>
{{{SavePrefs}}}
</nl>

<br>
<br>
<br>

<h3>UpdateTickers</h3>
<nl>
{{{UpdateTickers}}}
</nl>

<br>
<br>
<br>

<h3>OrderTypes</h3>
<nl>
{{{OrderTypes}}}
</nl>

<br>
<br>
<br>

<h3>RefreshBalance</h3>
<nl>
{{{RefreshBalance}}}
</nl>

<br>
<br>
<br>

<h3>AddAlert</h3>
<nl>
{{{AddAlert}}}
</nl>

<br>
<br>
<br>

<h3>DeleteAlert</h3>
<nl>
{{{DeleteAlert}}}
</nl>

<br>
<br>
<br>

<h3>AddOrder</h3>
<nl>
{{{AddOrder}}}
</nl>

<br>
<br>
<br>

<h3>CancelOrder</h3>
<nl>
{{{CancelOrder}}}
</nl>

<br>
<br>
<br>

<h3>ListExchanges</h3>
<nl>
{{{ListExchanges}}}
</nl>

<br>
<br>
<br>

<h3>ListMarkets</h3>
<nl>
{{{ListMarkets}}}
</nl>

<br>
<br>
<br>

<h3>DataHistory</h3>
<nl>
{{{DataHistory}}}
</nl>

<br>
<br>
<br>

<h3>DataAsk</h3>
<nl>
{{{DataAsk}}}
</nl>

<br>
<br>
<br>

<h3>DataBids</h3>
<nl>
{{{DataBids}}}
</nl>

<br>
<br>
<br>

<h3>DataOrders</h3>
<nl>
{{{DataOrders}}}
</nl>

<br>
<br>
<br>

<h3>DataAll</h3>
<nl>
{{{DataAll}}}
</nl>

<br>
<br>
<br>

<h3>DataTicker</h3>
<nl>
{{{DataTicker}}}
</nl>

<br><br>
<h3>Market: {{{market}}}</h3>

<br>
<br>
<br>

<h3>Add API Key</h3>
<nl>
    {{{AddAPIKey}}}
</nl>



<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>



