{{> signedInHeader parentName="tradePage"}}

<div class="container">
    <div class="row">
        <div class="col-md-12 coinPanel">
            <ul class="userCoins">
                {{!--<i class="fa fa-btc"></i>--}}

                {{#each userCoins}}
                <li  style="border-right: 1px solid gray; padding-left: 15px; padding-right: 15px; margin: 0">
                    {{this.name}} {{this.amount}}
                </li>
                {{/each}}

            </ul>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">

        <div class="marketPanel panel panel-default list-group col-md-2">
            <div id="allButton" class="coinButton">
                    <p>Show All</p>
            </div>
            
            {{#each marketCoins}}
                <div id="{{this.name}}Button" class="coinButton">
                    <p>{{this.name}}</p>
                    <span data-value="{{this.value}}"id="{{this.name}}Label" class="badge">{{this.value}}</span>
                </div>
            {{/each}}
        </div>

        <div class="graphPanel panel panel-default col-md-10">
            <div class="row">
                <div class="col-md-12" id="chartContainer" style="width: 100%; padding:0">
                    {{> graph}}
                </div>
            </div>
            

            <div class="row">
                <button type="button" class="btn btn-primary btn-lg col-md-4" data-toggle="modal" data-target="#buy">
                    BUY
                </button>
                <button type="button" class="btn btn-primary btn-lg col-md-4" data-toggle="modal" data-target="#sell">
                    SELL
                </button>
                <button type="button" class="btn btn-primary btn-lg col-md-4" data-toggle="modal" data-target="#bet">
                    BET
                </button>
            </div>

            

        </div>
    </div>
</div>

{{> tradebuy }}
{{> tradesell}}
{{> tradebet }}

<script>
    window.document.getElementById("tradeTab").className = "active";

    var liveDataLabelRequest = function(){
        $.get("/livedata", function(data){
            var parsed = JSON.parse(data);
            
            $("#BTCLabel").text(parsed.coins[0].value);
            $("#ETHLabel").text(parsed.coins[1].value);
        });
    }

    //var timer = setInterval(dataRequestFunction, 2000);
    var timer2 = setInterval(liveDataLabelRequest, 3000);
    
</script>

